/*custom css for Nextoran*/
/*firstioanmar_*/

/*nexto card*/
.nexto-card {
  width: 360px;
  background: #fff;
}

.top-section {
  height: 240px;
  overflow: hidden;
  background: #fff;
  position: relative;
}

.top-section img {
  width: 360px;
  height: 240px;
}

.price {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #dc3545;
  font-size: 24px;
}

.info-section {
  padding: 24px;
  background-color: #ddd;
}

.name {
  font-family: "montserrat";
  text-transform: uppercase;
  font-size: 24px;
  color: #333;
}

.description {
  font-size: 16px;
  opacity: 0.7;
}

/*box login*/
.box-login {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  text-align: center;
}

.box-login h1 {
  color: #333;
  text-transform: uppercase;
  font-weight: 500;
}

.box-login input[type = "text"],.box-login input[type = "password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #333;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #333;
  transition: 0.25s;
}

.box-login input[type = "text"]:focus,.box-login input[type = "password"]:focus {
  width: 220px;
  border-color: #2ECC71;
}

.box-login input[type = "submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #333;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #333;
  transition: 0.25s;
  cursor: pointer;
}

.box-login input[type = "submit"]:hover {
  border-color: #2ECC71;
  color: #2ECC71;
}

/*footer*/
#footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 40px 20px;
  position: absolute;
  height: 100px;
  width: 100%;
  margin-top: 100px;
  clear: both;
}

/*background nextoran*/
.bg-nextoran {
  background: linear-gradient(to right,#333, #FF9933);
  background: -webkit-linear-gradient(left,#333, #FF9933);
  background: -o-linear-gradient(right,#333, #FF9933);
  background: -moz-linear-gradient(right,#333, #FF9933);
  color: #fff;
}

.next-text-header {
  position: relative;
  color: #000;
  margin-left: 10px;
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
}

.nexto-badge {
  position: absolute;
  background: #dc3545;
  opacity: .5;
  cursor: default;
  left: 20px;
  top: 20px;
}

.nexto-badge:hover {
  background: #dc3545;
  color: #fff;
  opacity: 1;
}

.nexto-badge span {
  width: 100%;
  height: 3px;
  color: #fff;
  padding: 4px 8px;
  transition: .4s;
}

/*tombol scroll top*/
#scrollTopBtn {
  position: fixed;
  bottom: 60px;
  right: 40px;
  font-size: 22px;
  width: 50px;
  height: 50px;
  background: #FF9933;
  color: #fff;
  border: none;
  cursor: pointer;
}

#scrollTopBtn::after {
  content: '';
  position: absolute;
  background: #FF9933;
  transition: 0.4s;
}

#scrollTopBtn:hover {
  transform: rotateX(-20deg);
}

#scrollTopBtn::after {
  width: 100%;
  height: 24px;
  top: -24;
  left: 0;
  transform-origin: 0 100%;
  transform: rotateX(90deg);
}

/*scrollbar*/
::-webkit-scrollbar {
  background: #ddd;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(125deg,#FF9933,#AAA);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(125deg,#DD7711,#AAA);
  border-radius: 10px;
}
